<div class="w-full lg:w-1/3">
    <div class="back-button" [routerLink]="['/home']">BACK</div>
</div>

<div class="bg-black flex flex-row justify-center">
    <div class="big-title">PROGRAMMER SKILLS</div>
</div>
<div class="flex flex-col lg:flex-row">
    <div class="card bg-secondary text-white">
        <div>
            <div class="card-title">Front-ender</div>
            <div class="card-text">I am a front-end developer so I mostly use JavaScript-based languages. And styling with CSS and Tailwind.</div>    
        </div>
        <div class="card-projectlist">
            <div class="card-projectlist_item">JS Dice</div>
            <div class="card-projectlist_item">Terminal Portfolio</div>
        </div>
    </div>

    <div class="card bg-primary">
        <div>
            <div class="card-title">Angular Fan</div>
            <div class="card-text">Angular is my go-to framework that I mostly use for my projects because of the ease.</div>    
        </div>
        <div class="card-projectlist">
            <div class="card-projectlist_item-b">Anna Housing</div>
            <div class="card-projectlist_item-b">Projects Portfolio</div>
            <div class="card-projectlist_item-b">What are you listening to?</div>
        </div>
    </div>

    <div class="card bg-secondary text-white">
        <div>
            <div class="card-title">Creative Designer</div>
            <div class="card-text">
                I design everything from UI/UX for websites and webshops to flowcharts and product concepts. 
                My work balances functionality and aesthetics.
            </div>    
        </div>
        <div class="card-projectlist">
            <div class="card-projectlist_item">Djarno's Bear</div>
            <div class="card-projectlist_item">KCPerformance Webshop UI</div>
            <div class="card-projectlist_item">Flowcharts & Wireframes</div>
        </div>
    </div>
</div>
<div class="bg-black flex flex-row justify-center mb-[60px] text-white shadow-xl">
    <div class="card-projectlist p-2">
        <div class="card-skill_item">JavaScript</div>
        <div class="card-skill_item">TypeScript</div>
        <div class="card-skill_item">Python</div>
        <div class="card-skill_item">HTML</div>
        <div class="card-skill_item">CSS</div>
        <div class="card-skill_item">Tailwind</div>
        <div class="card-skill_item">Angular</div>
        <div class="card-skill_item">Figma</div>
        <div class="card-skill_item">Adobe XD</div>
        <div class="card-skill_item">Photoshop</div>
        <div class="card-skill_item">Illustrator</div>
    </div>
</div>

<div class="bg-black flex flex-row justify-center">
    <div class="big-title">PERSONAL SKILLS</div>
</div>
<div class="flex flex-col shadow-xl">
    <div class="flex flex-col lg:flex-row">
        <div class="personalcard bg-primary">
            <div class="personalcard-title">Team Captain</div>
            <div class="personalcard-text">At school, I often take the lead in group projects. Not because I want to be in charge, but because I believe we are stronger together. I ensure that everyone can show their best qualities, lifting us all to a higher level.</div>
        </div>
        <div class="personalcard bg-secondary text-white">
            <div class="personalcard-title">Out-of-the-Box Thinker</div>
            <div class="personalcard-text">I enjoy looking at things from a different perspective. Sometimes, this results in unconventional ideas, but they often prove surprisingly effective. I simply love a bit of creative thinking.</div>
        </div> 
    </div>

    <div class="flex flex-col lg:flex-row-reverse">
        <div class="personalcard bg-primary">
            <div class="personalcard-title">Eager to Learn</div>
            <div class="personalcard-text">I am always on the lookout for new things to discover. At school, I frequently opt for challenging assignments because that's where I learn the most. The same applies to my car – I try to learn everything myself by searching the internet. It saves me money, and I also enjoy learning something new.</div>
        </div>
        <div class="personalcard bg-secondary text-white">
            <div class="personalcard-title">Social Connections</div>
            <div class="personalcard-text">Warmth and good relationships matter to me. I get along well with various people, which is especially beneficial when it comes to collaboration. It creates a pleasant atmosphere that makes things run more smoothly.</div>
        </div>  
    </div>
</div>
