<!-- socials.component.html -->

<div class="w-full lg:w-1/3">
    <div class="back-button" [routerLink]="['/home']">BACK</div>
</div>
<div class="header">
    ON THE WEB
</div>

<!-- <div class="bg-gray-900 text-white p-3 mt-5 shadow-lg">
    <div class="border border-white p-2 text-sm">
        <p class="text-white">C:\> Message-Connection</p>
        <p class="text-white">C:\> Click to start connecting...</p>
        <p class="text-gray-400 text-xs pt-1">Send a quick email by clicking this box</p>
    </div>
</div> -->

<div class="flex flex-col lg:flex-col items-center">
    <a class="link" href="https://github.com/Toby142" target="_blank">github.com/<span class="highlight">Toby142</span></a>
    <a class="link" href="https://www.linkedin.com/in/tobias-van-de-ven-487998222/" target="_blank">linkedin.com/<span class="highlight">tobiasvandeven</span></a>
    <a class="link" href="mailto:tobiasvandeven142@gmail.com"><span class="highlight">tobiasvandeven142</span>@gmail.com</a>    
</div>

